/* Canvas */
.image-annotate-canvas {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}
  /* Annotater */
  .image-annotate-annotater {
    border: 1px solid black;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 10px;
    cursor: move;
    width: 60px;
    height: 60px;
  }
  .image-annotate-annotater-hide { display: none; }
  
  /* Form */
  .image-annotate-form {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 200px;
    z-index: 999;
  }
  .image-annotate-form-hide { display: none; }
  .image-annotate-form textarea { display: block; }
  
  /* Note */
  .image-annotate-note {
    position: absolute;
    overflow: visible;
  }
  .image-annotate-note-hide { display: none; }
  .image-annotate-marker { border: 1px solid #FFFFFF; }
  .image-annotate-note.dim div.image-annotate-marker { border: 1px solid #222222; }
  .image-annotate-note div.text {
    margin-top: 10px;
    max-width: 200px;
    background-color: #D0FDAF;
    padding: 3px;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    color: #000;
    display: none;
    position: relative;
    width: 200px;
  }
  .image-annotate-note.active div.text {
    display: block;
    z-index: 999;
  }
